.no {
  justify-content: center;
}
.yes {
  margin-top: -16px;
}
.vid {
  margin-left: 404px;
}
.textColor {
  color: #f9b4f6;
}
.mov-text {
  margin-left: 135px;
}
.maybe {
  margin-bottom: 0%;
}
.vidie {
  display: flex;
}
.textie {
  width: 1px;
}
